@import "../../global.scss";


.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;

  @include mobile {
    flex-direction: column;
  }

  .cContainer {
    display: flex;
    width: 70%;

    .left {
      padding: 0px 30px 30px 20px;
      flex: 1;

      h1 {
        text-align: left;
        margin-bottom: 33px;
      }

      h5 {
        color: white;
        font-weight: 600;
        margin-bottom: 20px;
      }

      h6 {
        font-weight: 100;
        font-size: 14px;
      }

      p {
        text-align: left;
        font-style: italic;
        margin-left: 10px;
      }

      a {
        text-decoration: none;
        text-align: right;
        color: white;
        font-size: 25px;
        margin-right: 7px;

        &:hover {
          color: #d3fb04;
          font-size: 26px;
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #d3fb04;
      border-radius: 15px;

      form {
        width: 70%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        input {
          width: 300px;
          height: 30px;
          font-size: 14px;

          @include mobile {
            width: 200px;
            height: 20px;
          }
        }

        textarea {
          width: 300px;
          height: 200px;
          font-size: 14px;

          @include mobile {
            width: 200px;
            height: 100px;
          }
        }

        button {
          width: 150px;
          height: 30px;
          color: white;
          background-color: crimson;
          border: none;
          border-radius: 10px;
          font-weight: 500;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }

        span {
          color: green;
        }
      }
    }
  }
}


.container-contact-left {
  margin-bottom: 30px;

  .container-contact-profile {
    margin-top: 30px;

    img {
      width: 99px;
      border-radius: 50%;
      filter: grayscale(1);

      &:hover {
        filter: none;
      }
    }

    .container-contact-icon {
      margin-top: -8px;
      display: flex;
      justify-content: left;
      margin-left: 10px;
    }
  }

}

.container-contact-right {
  background-color: #d3fb04;
  border-radius: 7px;

  form {
    padding: 25px 2px;

    .contact-form-text-area {
      border: none;
      border-radius: 7px;
      font-size: 15px;
      color: gray;
    }

    #contact_message {
      height: 164px;
      padding-top: 7px;
      color: gray;
    }

    .btn {
      border-radius: 7px;
    }
  }
}
