@import "../../global.scss";

.benefit {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 50px;
    position: absolute;
    color: $mainColor;
    cursor: pointer;
    padding-top: 60px;

    &.left {
      left: 6vw;
      transform: rotateY(180deg);
    }

    &.right {
      right: 6vw;
    }

    &.disabled {
      opacity: 0.1;
      cursor: not-allowed;
      pointer-events: none;
    }

    @include mobile {
      height: 40px;
    }
  }

  h1 {
    color: $mainColor;
    font-weight: 800;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 70px;
    position: absolute;
    top: 0;

    @include mobile {
      font-size: 26px;
    }
  }

  .slider {
    padding-top: 60px;
    height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 700px;
        height: 85%;
        background-color: $mainColor;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2.5px solid black;
        box-shadow: 7px 7px 0px -2px RGB(255 255 255);

        @include mobile {
          flex-direction: column;
          width: 60vw;
          height: 90%;
          align-items: center;
          justify-content: center;
        }

        .left {
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;

          img {
            width: 65%;
          }

          @include mobile {
            height: 35%;
            img {
              width: 40%;
            }
          }
        }

        .right {
          flex: 8;
          padding: 10px;
          h2 {
            color: black;
            text-align: left;
            margin-top: 0;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 30px;
          }

          p {
            font-weight: 500;
            font-size: 18px;
          }

          @include mobile {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h2 {
              font-size: 18px;
              // white-space: nowrap;
              text-align: center;
              margin-bottom: 10px;
            }

            p {
              font-size: 14px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
